.vscode/
__pycache__/
.env
data/raw/
data/processed/
*.pyc
.DS_Store

# Ignore large files
data/*
faiss_indexes/*
logs/*
__pycache__/
*.pyc
.env
.ipynb_checkpoints/
# Large data
data/*
*.csv
*.tab
*.tsv
*.parquet
*.sdf
